[package]
name = "{{app_name}}"
version = "0.1.0"
edition = "2024"

[dependencies]
rust-embed = "8.11.0"
rustframe = { path = "../../crates/rustframe" }
serde = { version = "1.0", features = ["derive"] }
toml = "0.8"
