[package]
name = "{{runner_package_name}}"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "{{binary_name}}"
path = "src/main.rs"

[workspace]

[dependencies]
rust-embed = { version = "8.11.0", features = ["include-exclude"] }
rustframe = { path = {{rustframe_path}} }
